.additional__item{
  background: #F4F4F4;
  border-radius: 9px;
}

.additional__title{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #037E8C;
  padding: 24px 26px;
}

.additional__img{
  border-radius: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}