@use "base";

.button{
  width: 365px;
  height: 45px;
  border: 1.5px solid $blue;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-sizing: border-box;
}

.button--sm{
  width: 175px;
}

.button-wrapper {
  display: flex;

  .button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button--white{
  color: base.$blue;
}

.button--blue{
  background: base.$blue;
  color: $white;
}