
.flickity-page-dots {
  .dot {
    width: 8px;
    height: 8px;
    background: white;
    opacity: 1;
    border-radius: 100%;

    &.is-selected {
      background: $blue !important;
    }
  }

  .carousel--l & {
    bottom: 0;
    width: 50px;
    right: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .dot {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .carousel--m & {
    .dot {
      background: $black;
    }
  }

  .carousel--sm & {
    text-align: left;

    .dot {
      background: $black;
    }
  }

  .grid--revert .carousel--sm & {
    text-align: right;
  }


}

.carousel--sm {
  .carousel-cell {
    margin-right: 22px;
  }
}

.carousel--m{
  .carousel-cell {

    margin-right: 27px;


    img{
      transform: scale(0.7);
      transition: 0.4s ease transform;
    }

    &.is-selected{
      img{
        transform: scale(1);
      }

    }
  }
}