
.flickity-page-dots {
  .dot {
    width: 8px;
    height: 8px;
    background: white;
    opacity: 1;
    border-radius: 100%;

    &.is-selected {
      background: $blue;
    }
  }
}

.carousel--l {
  .flickity-page-dots {
    bottom: 0;
    width: 50px;
    right: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .dot {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.carousel--sm {
  .carousel-cell {
    margin-right: 22px;
  }

  .flickity-page-dots {
    text-align: left;

    .dot {
      background: $black;

      &.is-selected {
        background: $blue;
      }
    }
  }
}

.grid--revert {
  .carousel--sm {
    .flickity-page-dots {
      text-align: right;
    }
  }
}