.certificate{

}

.certificate__caption{
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #037E8C;
  margin-bottom: 46px;
}

.certificate__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 172.5%;
  color: #151515;
  margin-bottom: 55px;
  max-width: 524px;
  margin-top: 32px;
}