
.persons__item{
  background: #F4F4F4;
  border-radius: 9px;
}

.persons__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #037E8C;
}

.persons__caption{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #121214;
}

.persons__img{
  margin-bottom: 17px;
}

.persons__title-wrapper{
  padding: 0 22px 26px 22px;
}