@use 'base';

.section{
  padding-top: 63px;
  padding-bottom: 65px;
}

.section--gray{
  background-image: url('../image/background.svg');
  background-color: #F4F4F4;
  padding-top: 57px;
  padding-bottom: 118px;
  overflow: hidden;
}

.section--black{
  background-color: base.$black;
  background-image: url('../image/background2.svg');
  overflow: hidden;
  padding-top: 81px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--gray--sm{
  background-image: url('../image/bg-2.png'), url('../image/bg-1.png') ;
  background-position: 0 100%, 100% -100px;
  background-repeat: no-repeat;
  .section__title{
    margin-bottom: 39px;
  }
}

.section--white{
  padding-top: 63px;
  padding-bottom: 65px;
  .section__title{
    margin-bottom: 43px;
  }
}

.section--video{
  background-image: url('../image/background-v.png');
  padding: 82px 0;
}

.section--gray-3{
  background-color: #F4F4F4;
  background-image: url('../image/background-7.png');
}

.section--special{
  background-image: url('../image/special-1.png'), url('../image/special-2.png');
  background-repeat: no-repeat;
  background-position: 0 -115px, 100% -100%;
}

.section__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: $black;
  text-align: center;
  margin-bottom: 67px;
}

.section__title--white{
  color: $white;
  margin-bottom: 19px;
}

.section__caption{
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}
