@import 'reset-css';
@import 'base';

@import url('https://fonts.cdnfonts.com/css/Montserrat');

//@import 'react-accessible-accordion/dist/fancy-example.css';

@import './header.scss';
@import "./menu.scss";
@import './advantages.scss';
@import "./grid.scss";
@import "./section.scss";
@import "./description.scss";
@import './button.scss';
@import "./list-icons.scss";
@import "./carousel.scss";
@import './video.scss';
@import "./persons.scss";
@import "./conditions.scss";
@import "./special.scss";
@import "./certificate.scss";
@import "./accordion.scss";
@import "./chat.scss";
@import './additional.scss';

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.container{
  margin: auto;
  max-width: 1301px;
}

.hidden{
  display: none;
}
